<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ptox Chemical Selection</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
    <!-- Include Select2 CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <!-- Include Select2 JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.21.0/cytoscape.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cytoscape-qtip@2.7.1/cytoscape-qtip.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <!-- pdfmake for PDF export -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <!-- Buttons for CSV, Excel, PDF, and Print -->
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js" integrity="sha256-FPJJt8nA+xL4RU6/gsriA8p8xAeLGatoyTjldvQKGdE=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/cytoscape-svg.js') }}"></script>
    <script>
        const jsonBasic = "{{ url_for('static', filename='elements/basic.json')}}";
        const imageBaseUrl = "{{ url_for('static', filename='images/nodes/') }}";
    </script>
    <script src="{{ url_for('static', filename='js/layouts.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/styles.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/basic_network.js') }}" defer></script>

</head>

<body>
    <div class="topbar">
        <img src="{{ url_for('static', filename='images/ptox_logo_white.png') }}" alt="Logo" class="logo">
        <span id="title_chemical">CHEMICAL&nbsp;</span><span>LIBRARY</span>
        <ul>
            <li><a href="https://precisiontox.org/" target="_blank">PrecisionTox</a></li>
            <li><a href="about.asp" target="_blank">About</a></li>
        </ul> 
    </div>
    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'network_basic')">Network</button>
        <button class="tablinks" onclick="openTab(event, 'chem_list')">List</button>
    </div>

    <div id="network_basic" class="tabcontent">
        <div class="container">
            <div class="side-panel">
                <div class="dropdown">
                    <label>Select chemical classification:</label>
                    <div class="button-group">
                        <button id="use-button" class="classification-btn active" onclick="loadBasicNetworkAndClassify('use')">
                            <img src="{{ url_for('static', filename='images/icons/purpose-button.png') }}" alt="Use" class="btn-icon">
                            Use
                        </button>
                        <button id="tox-button" class="classification-btn" onclick="loadBasicNetworkAndClassify('tox')">
                            <img src="{{ url_for('static', filename='images/icons/toxicity-button.png') }}" alt="Use" class="btn-icon">
                            Toxicity
                        </button>
                    </div>
                </div>
                
                <div class="dropdown">
                    <label for="label-font-size-slider">Change chemical label size:</label>
                    <input 
                        type="range" id="label-font-size-slider" 
                        min="10" max="50" value="25" 
                        oninput="changeLabelFontSize(this.value)"
                    >
                </div>

                <hr>
                <div class="dropdown">
                    <label for="chem-select">Focus on chemical:</label>
                    <select id="chem-select" class="chem-select" style="width: 100%;" onchange="loadSingleChemNetwork()">
                        <option value="">Select a compound...</option>
                    </select>
                </div>
                <br>
                <div class="dropdown">
                    <button id="reset-button"><i class="fa-solid fa-arrow-rotate-left"></i> Reset Network</button>
                </div>
                <div class="dropdown">
                    <button class="dl-btn-off" id="dl-btn">
                        <i class="fas fa-download"></i> Download Network
                    </button>
                    <div id="dl-content" class="dl-content">
                        <button class="dl-btn-pic" id="dl_svg">
                            <i class="fas fa-file-download"></i> SVG
                        </button>
                        <button class="dl-btn-pic" id="dl_jpg">
                            <i class="fas fa-camera"></i> JPG
                        </button>
                        <button class="dl-btn-pic" id="dl_png">
                            <i class="fas fa-camera"></i> PNG
                        </button>
                    </div>
                </div>
            </div>

            <div class="main-panel">
                <div class="cytoscape-container" id="cy_graph"></div>
                <div class="tools-widget">
<!--                        <button class="my-btn" id="help-btn" title="Help">-->
<!--                            <i class="far fa-question-circle"></i>-->
<!--                        </button>-->
                        <button class="my-btn" id="center" title="Center graph">
                            <i class="fa fa-align-center"></i>
                        </button>
                        <button class="my-btn" id="lock" title="Lock/unlock element positions">
                            <i class="fa fa-unlock"></i>
                        </button>
               </div>
               <div class="zoom-widget">
                    <div class="zoom-widget-row">
                        <button class="my-btn" id="zoom_in" title="Zoom in">
                            <i class="fas fa-search-plus"></i>
                        </button>
                    </div>
                    <div class="zoom-widget-row">
                        <button class="my-btn" id="zoom_out" title="Zoom out">
                            <i class="fas fa-search-minus"></i>
                        </button>
                    </div>
               </div>

           </div>
       </div>
   </div>

    <div id="chem_list" class="tabcontent">
        <table id="chem-table" class="display">
            <thead>
                <tr id="chem-table-header"></tr>
            </thead>
            <tbody id="chem-table-body"></tbody>
        </table>
    </div>

    <script>
        function loadChemList() {
        if (!$.fn.DataTable.isDataTable('#chem-table')) {
            fetch('/get_chemicals')
                .then(response => response.json())
                .then(data => {
                    const tableHeader = document.getElementById('chem-table-header');
                    const tableBody = document.getElementById('chem-table-body');

                    // Clear any existing content
                    tableHeader.innerHTML = '';
                    tableBody.innerHTML = '';

                    // Create the table header
                    if (data.length > 0) {
                        const headers = Object.keys(data[0]);
                        headers.forEach(header => {
                            const th = document.createElement('th');
                            th.textContent = header;
                            tableHeader.appendChild(th);
                        });
                    }

                    // Populate the table body
                    data.forEach(row => {
                        const tr = document.createElement('tr');
                        Object.values(row).forEach(value => {
                            const td = document.createElement('td');
                            td.textContent = value;
                            tr.appendChild(td);
                        });
                        tableBody.appendChild(tr);
                    });

                    // Initialize DataTable
                    $('#chem-table').DataTable({
                        dom: 'lBfrtip', // This is the key to enabling the buttons
                        buttons: [
                            'copy', 'csv', 'excel', 'pdf', 'print'
                        ],
                        scrollY: '65vh', // Vertical scrolling (adjust height as needed)
                        scrollX: true,   // Enable horizontal scrolling
                        scrollCollapse: true, // Allows the table to reduce in height when fewer rows are shown
                        paging: false,
                        columnDefs: [
                            { width: '150px', targets: '_all' } // Set the width for all columns
                        ],
                        drawCallback: function() { // Add tooltips after the table is drawn
                            $('#chem-table tbody td').each(function() {
                                // Destroy any existing tooltip instance to avoid duplicates
                                if ($(this).data('qtip')) $(this).qtip('destroy', true);

                                // Determine if this cell is in the rightmost column
                                let isRightmost = $(this).is(':last-child');

                                $(this).qtip({
                                    content: {
                                        text: $(this).text().trim()
                                    },
                                    style: {
                                        classes: 'qtip-dark qtip-rounded'
                                    },
                                    position: {
                                        my: isRightmost ? 'top right' : 'top left', // Adjust `my` for the rightmost column
                                        at: isRightmost ? 'bottom left' : 'bottom right' // Adjust `at` for the rightmost column
                                    }
                                });
                            });
                        }
                    });
                })
                .catch(error => console.error('Error loading chemical list:', error));
            }
        }

        function openTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].classList.remove("active");
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].classList.remove("active");
            }
            document.getElementById(tabName).classList.add("active");
            evt.currentTarget.classList.add("active");

            // Initialize the network only when the tab is activated
            if (tabName === 'network_basic') {
                initializeNetworkBasic();
            } else if (tabName === 'chem_list') {
                loadChemList();
            }
        }

        // Initialize the first network by default
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelector('.tablinks').click();
        });

        document.querySelectorAll('.classification-btn').forEach(button => {
            button.addEventListener('click', function() {
                // Remove 'active' class from all buttons
                document.querySelectorAll('.classification-btn').forEach(btn => btn.classList.remove('active'));
                
                // Add 'active' class to the clicked button
                this.classList.add('active');
            });
        });

         // BUTTON: Center the graph on the page
        $("#center").click(function () {
            cy_graph.fit(cy_graph.$("node:visible"));
        });

        // BUTTON: Lock/Unlock element positions
        $("#lock").click(function () {
            if (cy_graph.autolock() == false) {
                cy_graph.autolock(true);
                $("#lock i").toggleClass("fa-unlock fa-lock");
            } else if (cy_graph.autolock() == true) {
                cy_graph.autolock(false);
                $("#lock i").toggleClass("fa-lock fa-unlock");
            }
        });

        // BUTTON: Zoom-In / Zoom-Out
        $("#zoom_in").click(function () {
            var z = cy_graph.zoom() + 0.2;
            cy_graph.zoom(z);
        });
        $("#zoom_out").click(function () {
            var z = cy_graph.zoom() - 0.2;
            cy_graph.zoom(z);
        });

        // BUTTON: Center the graph on the page
        $("#center").click(function () {
            cy_graph.fit(cy_graph.$("node:visible"));
        });

        /// DOWNLOAD BUTTONS
        $("#dl-btn").click(function () {
            if (this.className == "dl-btn-off") {
                this.className = "dl-btn-on";
                $("#dl-content").css("display", "flex");
            } else {
                this.className = "dl-btn-off";
                $("#dl-content").css("display", "none");
            }
        });

        // BUTTON: Get snapshot as PNG
        $("#dl_png").click(function () {
            var image = cy_graph.png()
            var iframe = "<iframe src='" + image + `' frameborder='0'
                style='border:0; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%;'
                allowfullscreen></iframe>`;
            var win = window.open();
            win.document.write(iframe);
        });
        // BUTTON: Get snapshot as JPG
        $("#dl_jpg").click(function () {
            var image = cy_graph.jpg()
            var iframe = "<iframe src='" + image + `' frameborder='0'
                style='border:0; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%;'
                allowfullscreen></iframe>`;
            var win = window.open();
            win.document.write(iframe);
        });
        // BUTTON: Get snapshot as SVG
        $("#dl_svg").click(function (filename) {
            var svgContent = cy_graph.svg({scale: 1, full: true});
            var blob = new Blob([svgContent], {type: "image/svg+xml;charset=utf-8"});
            saveAs(blob, "graph.svg");
        });
        
    </script>

    </script>
</body>
</html>
